{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}



    <!-- Start blog-posts Area -->
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 post-list blog-post-list">
                    <div class="single-post">

                        <a href="#">
                            <h1>
                                {{ blog.title | safe }}
                            </h1>
                        </a>
                        {% thumbnail blog.image "670x312" crop="center" as im %}
                            <img class="img-fluid" src="{{ im.url }}">
                        {% endthumbnail %}

                        <ul class="tags">
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ul>

                        <div class="content-wrap">
                            <p>
                                {{ blog.content | safe }}


                        </div>
                        <div class="bottom-meta">
                            <div class="user-details row align-items-center">
                                <div class="comment-wrap col-lg-6 col-sm-6">
                                    <ul>
                                        <li><a href="#"><span class="lnr lnr-heart"></span> 4 likes</a></li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="social-wrap col-lg-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <!-- Start nav Area -->
                        <section class="nav-area pt-50 pb-100">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-sm-6 nav-left justify-content-start d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/prev.jpg" alt="">
                                        </div>
                                        <div class="post-details">
                                            <p>Prev Post</p>
                                            <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 nav-right justify-content-end d-flex">
                                        <div class="post-details">
                                            <p>Prev Post</p>
                                            <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                        </div>
                                        <div class="thumb">
                                            <img src="img/blog/next.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End nav Area -->

                        <!-- Start comment-sec Area -->
                        <section class="comment-sec-area pt-80 pb-80">
                            <div class="container">
                                <div class="row flex-column">
                                    <h5 class="text-uppercase pb-80">05 Comments</h5>
                                    <br>
                                    <h1>COMMENTS</h1>
                                    {% for c in comments %}
                                        <div class="comments-container">


                                            <ul id="comments-list" class="comments-list">
                                                <li>
                                                    <div class="comment-main-level">
                                                        <!-- Avatar -->
                                                        <div class="comment-avatar"><img
                                                                src="https://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                                alt=""></div>
                                                        <!-- Contenedor del Comentario -->
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name by-author"><a
                                                                        href="http://creaticode.com/blog">{{ c.comment_user }}</a>
                                                                </h6>
                                                                <span>{{ c.comment_date }}</span>
                                                                <i class="fa fa-reply"></i>
                                                                <i class="fa fa-heart"></i>
                                                            </div>
                                                            <div class="comment-content">
                                                                {{ c.answer }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Respuestas de los comentarios -->
                                                    <ul class="comments-list reply-list">
                                                        {% for r in reply %}
                                                            {% if c.id == r.parent_id %}

                                                                <li>
                                                                    <!-- Avatar -->
                                                                    <div class="comment-avatar"><img
                                                                            src="https://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                                            alt=""></div>
                                                                    <!-- Contenedor del Comentario -->
                                                                    <div class="comment-box">
                                                                        <div class="comment-head">
                                                                            <h6 class="comment-name"><a
                                                                                    href="http://creaticode.com/blog">{{ r.comment_user }}</a>
                                                                            </h6>
                                                                            <span>{{ r.comment_date }}</span>
                                                                            <i class="fa fa-reply"></i>
                                                                            <i class="fa fa-heart"></i>
                                                                        </div>
                                                                        <div class="comment-content">
                                                                            {{ r.answer }}
                                                                        </div>
                                                                    </div>
                                                                </li>


                                                            {% endif %}
                                                        {% endfor %}

                                                        <div class="row flex-row d-flex">

                                                            <div class="col-lg-12 col-md-6">
                                                                <form method="post">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                    <textarea class="form-control mb-10" name="answer"
                                                                              placeholder="Messege"
                                                                              id="answer"
                                                                              onfocus="this.placeholder = ''"
                                                                              onblur="this.placeholder = 'Messege'"
                                                                              required=""></textarea>

                                                                            <input type="hidden" name="comment_id"
                                                                                   value="{{ c.id }}">
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <input type="submit"
                                                                                   value="Reply">

                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                    </ul>
                                                </li>


                                            </ul>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        <!-- End comment-sec Area -->

                        <!-- Start commentform Area -->
                        <section class="commentform-area pt-80">
                            <div class="container">
                                <h5 class="pb-50">Leave yor comment baby!!!!!</h5>

                                <div class="row flex-row d-flex">

                                    <div class="col-lg-8 col-md-6">
                                        <form method="post">
                                            {% csrf_token %}
                                            <textarea class="form-control mb-10" name="answer" placeholder="Messege"
                                                      id="answer"
                                                      onfocus="this.placeholder = ''"
                                                      onblur="this.placeholder = 'Messege'"
                                                      required=""></textarea>

                                            <input class="primary-btn mt-20" type="submit" value="comment">

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- End commentform Area -->


                    </div>
                </div>
                <div class="col-lg-4 sidebar">

                    {% include 'partials/sidebar_general.html' %}

                    <div class="single-widget recent-posts-widget">
                        <h4 class="title">Recent Posts</h4>
                        <div class="blog-list ">
                            {% for recent in recent_post %}
                                <div class="single-recent-post d-flex flex-row">
                                    <div class="recent-thumb">
                                        {% thumbnail recent.image "75x75" crop="center" as im %}
                                            <img class="img-fluid" src="{{ im.url }}">
                                        {% endthumbnail %}

                                    </div>
                                    <div class="recent-details">
                                        <a href="blog-single.html">
                                            <h4>
                                                {{ recent.title }}
                                            </h4>
                                        </a>
                                        <p>
                                            {{ recent.published_date }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section>
    <!-- End blog-posts Area -->

{% endblock %}