{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}
    <!-- start banner Area -->

    <!-- End banner Area -->

    <!-- Start blog-posts Area -->
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 post-list blog-post-list">

                    {% for post in object_list %}

                        <a href="{% url 'blog:single_blog' post.slug %}">
                            <h1>
                                {{ post.title }}
                            </h1>
                        </a>
                        <div class="single-post">
                            {% thumbnail post.image "670x312" crop="center" as im %}
                                <img class="img-fluid" src="{{ im.url }}">
                            {% endthumbnail %}

                            <ul class="tags">
                                <li><a href="#">Art, </a></li>
                                <li><a href="#">Technology, </a></li>
                                <li><a href="#">Fashion</a></li>
                            </ul>

                            <p>
                                {{ post.content |safe | truncatewords:30 }}
                            </p>
                            <div class="bottom-meta">
                                <div class="user-details row align-items-center">
                                    <div class="comment-wrap col-lg-6">
                                        <ul>
                                            <li><a href="#"><span class="lnr lnr-heart"></span> 4 likes</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="social-wrap col-lg-6">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'snippet/pagination.html' %}

                </div>
                <div class="col-lg-4 sidebar">




                {% include 'partials/sidebar_general.html' %}

                    <div class="single-widget recent-posts-widget">
                        <h4 class="title">Recent Posts</h4>
                        <div class="blog-list ">
                            {% for recent in recent_post %}
                                <div class="single-recent-post d-flex flex-row">
                                    <div class="recent-thumb">
                                        {% thumbnail recent.image "75x75" crop="center" as im %}
                                            <img class="img-fluid" src="{{ im.url }}">
                                        {% endthumbnail %}

                                    </div>
                                    <div class="recent-details">
                                        <a href="blog-single.html">
                                            <h4>
                                                {{ recent.title }}
                                            </h4>
                                        </a>
                                        <p>
                                            {{ recent.published_date }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section>
    <!-- End blog-posts Area -->




{% endblock %}

