{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}




<section class="blog-posts-area section-gap">


    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>
                    {% for j in jl %}
                        <div class="single-post d-flex flex-row ">
                            <div class="col-4">
                                <div class="thumb">


                                    {% thumbnail j.company.company_image "200x150" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="details">

                                    <div class="row">
                                        <div class="col-9">

                                            <div class="title d-flex flex-row justify-content-between ">
                                                <div class="titles">

                                                    <a href="{% url 'home:jobdetail' j %}"><h3>{{ j.job_title }}</h3>
                                                    </a>
                                                    <h5 class="mt-1">{{ j.company.company_name }}</h5>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <form method="post" action="{% url 'home:home' %}">
                                                {% csrf_token %}

                                                        <input type="submit" value="View Detail" class="btn-outline-success">
                                                        <input type="hidden" name="jobtitle" value="{{ j.id }}">
                                                        {% if request.user.is_authenticated %}
                                                            <input type="hidden" name="userid"
                                                                   value="{{ request.user.id }}">
                                                        {% else %}
                                                            <input type="hidden" name="userid" value="">
                                                        {% endif %}


                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <h4 class="fa fa-group mb-2"> No of Vacancy:&nbsp;{{ j.vacancy }}</h4><br>
                                <h4 class="fa fa-list-alt mb-2"> Category:&nbsp;{{ j.category }}</h4><br>
                                <h4 class="fa fa-braille mb-2"> Experience:&nbsp;{{ j.experience }}</h4><br>
                                {% if j.negotiable == True%}
                                    <h4 class="fa fa-money mb-2"> Salary:&nbsp;Negotiable</h4><br>
                                {% else %}
                                    <h4 class="fa fa-money mb-2"> Salary:{{ j.salary }}
                                    </h4>
                                {% endif %}
                            </div>

                        </div>
                    {% endfor %}


                   {% include 'snippet/pagination.html' %}

                </div>
                <div class="col-lg-4 sidebar">
                    {% include 'partials/sidebar_general.html' %}
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
</section>



{% endblock %}