{% extends '_base.html' %}
{% block content %}

    <style>
    h4 {
        color: #0a1209;


    }
        h4:hover {
            color: #1a20ff;
            cursor: pointer;

        }
    .card-header{
        background-color: #dfe5aa;
    }

    </style>
    <section class="blog-posts-area section-gap">


        <div class="container mt-3">
            <h2>FREQUENTLY ASKED QUESTION</h2>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" style="font-family: sans-serif">JOBSEEKER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">COMPANY</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="accordion">
                <div id="home" class="container tab-pane active "><br>
                    {% for q in jobseekerfaq %}
                        <div class="card">
                            <h4 class="card-header mb-2" data-toggle="collapse" data-target="#{{ q.id }}">
                                <i>{{ q.question }}</i></h4>
                            <h5 class="collapse card-body" id="{{ q.id }}" data-parent="#accordion">{{ q.answer }}</h5>
                        </div>
                    {% endfor %}
                </div>
                <div id="menu1" class="container tab-pane fade "><br>
                    {% for q in companyfaq %}
                        <div class="card">
                            <h4 class="card-header mb-2" data-toggle="collapse" data-target="#{{ q.id }}">
                                <i>{{ q.question }}</i></h4>
                            <h5 class="collapse card-body" id="{{ q.id }}" data-parent="#accordion">{{ q.answer }}</h5>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </section>


{% endblock %}