{% extends '_base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">

                    {% include 'partials/search.html' %}
                    <p class="text-white"><span>Search by tags:</span> Tecnology, Business, Consulting, IT Company,
                        Design,
                        Development</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->



    <!-- Start features Area -->
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 ">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Better you don't search for who you are until you know who it is you want to find.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Register, Sign In and complete your profile before applying for Job.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Posting Job</h4>
                        <p>
                            Company must be Register and Detail must be filled before Posting job
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Read Blog</h4>
                        <p>
                            Read our informative Blog to get Tips for your carrer development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->

    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for i in cat %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static "img/o1.png" %}" alt="">
                            </a>
                            <p>{{ i.category }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>
                    {% for j in object_list %}
                        <div class="single-post d-flex flex-row ">
                            <div class="col-4">
                                <div class="thumb">


                                    {% thumbnail j.company.company_image "200x150" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="details">

                                    <div class="row">
                                        <div class="col-9">

                                            <div class="title d-flex flex-row justify-content-between ">
                                                <div class="titles">

                                                    <a href="{% url 'home:jobdetail' j %}"><h3>{{ j.job_title }}</h3>
                                                    </a>
                                                    <h5 class="mt-1">{{ j.company.company_name }}</h5>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <form method="post">
                                                {% csrf_token %}

                                                        <input type="submit" value="View Detail" class="btn-outline-success">
                                                        <input type="hidden" name="jobtitle" value="{{ j.id }}">
                                                        {% if request.user.is_authenticated %}
                                                            <input type="hidden" name="userid"
                                                                   value="{{ request.user.id }}">
                                                        {% else %}
                                                            <input type="hidden" name="userid" value="">
                                                        {% endif %}


                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <h4 class="fa fa-group mb-2"> No of Vacancy:&nbsp;{{ j.vacancy }}</h4><br>
                                <h4 class="fa fa-list-alt mb-2"> Category:&nbsp;{{ j.category }}</h4><br>
                                <h4 class="fa fa-braille mb-2"> Experience:&nbsp;{{ j.experience }}</h4><br>
                                {% if j.negotiable == True%}
                                    <h4 class="fa fa-money mb-2"> Salary:&nbsp;Negotiable</h4><br>
                                {% else %}
                                    <h4 class="fa fa-money mb-2"> Salary:{{ j.salary }}
                                    </h4>
                                {% endif %}
                            </div>

                        </div>

                    {% endfor %}


                {% include 'snippet/pagination.html' %}

            </div>
            <div class="col-lg-4 sidebar">

                {% include 'partials/sidebar_general.html' %}
            </div>
        </div>
        </div>
    </section>
    <!-- End post Area -->






{% endblock %}