{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}




<section class="blog-posts-area section-gap">


    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>
                    {% for job in object_list %}
                        <div class="single-post d-flex flex-row">
                            <div class="thumb">
                                <div class="col-2">
                                    {% thumbnail job.company.company_image "250x200" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>

                            </div>
                            <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="{% url 'home:jobdetail' job %}"><h4>{{ job.job_title }}</h4></a>
                                        <h6>{{ job.company.company_name }}</h6>
                                    </div>
                                    <ul class="btns">

                                        <li><a href="{% url 'home:jobdetail' job %}"><span>View Detail</span></a>
                                    </ul>
                                </div>
                                <p>
                                    {{ job.description |truncatewords:10 }}
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> {{ job.company.company_address }}
                                </p>
                                <p class="address"><span class="lnr lnr-database"></span> {{ job.salary }}</p>
                            </div>
                        </div>
                    {% endfor %}


                   {% include 'snippet/pagination.html' %}

                </div>
                <div class="col-lg-4 sidebar">
                    {% include 'partials/sidebar_general.html' %}
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
</section>



{% endblock %}