{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}


    <!-- Start post Area -->
    <section class="post-area section-gap">

        <div class="row justify-content-center d-flex">


            <div class="col-lg-9 post-list">

                <div class="container-fluid">
                    <div class="row">


                        <div class="col-lg-4 sidebar">

                            <div class="single-slidebar">
                                {% thumbnail jdetail.company.company_image "250x200" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}

                                <div class="mt-3 text-center">
                                    <h4>{{ jdetail.company.company_name }}</h4>
                                    <p>{{ company.province }}<br>{{ jdetail.company.district }}<br>{{ company.contact_no }}
                                    </p>


                                </div>


                            </div>

                            <div class="single-slidebar">
                                {% if user.is_authenticated %}
                                    <h3 style="font-family: 'Comic Sans MS';">Top Job from
                                        <br>{{ jdetail.company.company_name }}</h3><br>
                                {% else %}
                                    <h3 style="font-family: 'Comic Sans MS';">Popular Jobs</h3><br>
                                {% endif %}
                                <div class="active-relatedjob-carusel">
                                    {% for t in top_rated %}
                                        <div class="single-rated">

                                            <a href="{% url 'home:jobdetail' t %}"><h4
                                                    style="font-family:OCR A Extended;">{{ t.job_title }}</h4></a>
                                            <h4 class="fa fa-list-alt mb-2"><b> Category: </b>{{ jdetail.category }}
                                            </h4>
                                            <br>
                                            <h4 class="	fa fa-cubes mb-2"><b> Job Type: </b>{{ jdetail.job_type }}
                                            </h4>
                                            <br>
                                            <h4 class="fa fa-server mb-2"><b> Job Level:</b> {{ jdetail.level_of_job }}
                                            </h4>
                                        <br>

                                            <h4 class="fa fa-group mb-2"><b> No of Vacancy:</b> {{ jdetail.vacancy }}
                                            </h4>
                                            <br>
                                            <h4 class="fa fa-braille mb-2"><b> Experience: </b>{{ jdetail.experience }}
                                            </h4>
                                            <br>
                                            {% if jobpost.negotiable == True %}
                                                <h4 class="fa fa-money mb-2"><b> Salary:</b> Negotiable</h4><br>
                                            {% else %}
                                                <h4 class="fa fa-money mb-2"><b> Salary:</b> {{ jdetail.negotiable }}
                                                </h4>
                                            {% endif %}

                                        </div>
                                    {% endfor %}

                                </div>
                            </div>


                        </div>


                        <div class="col-lg-8">
                            <div class="single-post  flex-row mb-1 ml-4">


                                <div class="details">
                                    <div class="title justify-content-between">
                                        <div class="row">
                                            <div class="col-lg-10 d-flex">
                                                <div class="titles">
                                                    <a href="#"><h2
                                                            style="font-family: 'OCR A Extended';color: Green">{{ jdetail.job_title }}</h2>
                                                    </a><br>
                                                    <h4 class="mb-1">company:
                                                        &nbsp;{{ jdetail.company.company_name }}</h4>
                                                    <p class="fa fa-eye mt-0"> Views: {{ count }} | <span
                                                            class="fa fa-user">  Applied:{{ applied }}</span> |
                                                        {% if afterdeadline < 0 %} Job Expired {% else %}
                                                            <span class="fa fa-calendar"> {{ week }} week & {{ days }} days left</span>{% endif %}
                                                    </p>


                                                </div>
                                            </div>
                                            <div class="col-lg-2 btns">
                                                {% if request.user.is_authenticated and request.user.role == 'jobseeker' %}
                                                    {% if alreadyapply == True %}


                                                        <button>Already applied!</button>

                                                    {% else %}

                                                        <form method="post" action=" {% if request.user.id == seeker.user_id %}{% url 'company:apply' %}
                                                        {% else %}{% url 'jobseeker:seekerdetail' %} {% endif %}">
                                                            {% csrf_token %}
                                                            <input name="job_title" value="{{ jdetail.id }}"
                                                                   type="hidden">
                                                            {% if afterdeadline < 0 %} {% else %}

                                                            <button type="submit">apply</button>
                                                                {% endif %}
                                                        </form>
                                                    {% endif %}
                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <h4 class="fa fa-list-alt mb-2"><b> Category: </b>{{ jdetail.category }}
                                            </h4>
                                            <br>
                                            <h4 class="	fa fa-cubes mb-2"><b> Job Type: </b>{{ jdetail.job_type }}
                                            </h4>
                                            <br>
                                            <h4 class="fa fa-server mb-2"><b> Job Level:</b> {{ jdetail.level_of_job }}
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="fa fa-group mb-2"><b> No of Vacancy:</b> {{ jdetail.vacancy }}
                                            </h4>
                                            <br>
                                            <h4 class="fa fa-braille mb-2"><b> Experience: </b>{{ jdetail.experience }}
                                            </h4>
                                            <br>
                                            {% if jobpost.negotiable == True %}
                                                <h4 class="fa fa-money mb-2"><b> Salary:</b> Negotiable</h4><br>
                                            {% else %}
                                                <h4 class="fa fa-money mb-2"><b> Salary:</b> {{ jdetail.negotiable }}
                                                </h4>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="single-post job-experience mb-1 ml-4">
                                <h4 class="single-title"><b>Job description</b></h4>
                                <p>{{ jdetail.description | linenumbers | linebreaksbr }}</p>
                            </div>

                            <div class="single-post job-experience mb-1 ml-4">
                                <h4 class="single-title"><b>Job Requirements</b></h4>
                                <p>{{ jdetail.requirement | linenumbers | linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <
            </div>

            <div class="col-lg-3 sidebar">
                {% include 'partials/sidebar_general.html' %}
            </div>
        </div>


    </section>
    <!-- End post Area -->


{% endblock %}



