{% extends '_base.html' %}
{% load static %}
{% block content %}


    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/aboutbanner.js' %}"></script>

    <link href='{% static 'css/aboutus.css' %}' rel='stylesheet'>
    <link href='{% static 'css/aboutbanner.css' %}' rel='stylesheet'>
    <!------ Include the above in your HEAD tag ---------->

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


    <div class="particle-network-animation"></div>
    <div class="aboutus-section">
        <section class="blog-posts-area section-gap">

            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">About Us</h2>
                            <p class="aboutus-text">Hello. Welcome to Jagir Khulyo. So glad you’re here.</p>
                            <p class="aboutus-text">We’re  the founders and developers of Jagir Khulyo.
                                We
                                are providing the simple, easy and best way of searching jobs and applying with the
                                individual dashboard.</p>
                            <p class="aboutus-text">All the clients are satisfy with us with our services and with our
                                journey. We maintain unique style, unique design and unique solution of every problems
                                because of these we are able to build the simplified and transparency between seeker and
                                the
                                companies.</p>
                            <p class="aboutus-text">Thanks for using our services. Hoping for your feedback.
                                🙂🙂🙂Happy life Happy journey!!!</p>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4> Innovative features</h4>
                                        <p>Find all your Newspaper Jobs in a single, searchable space.
                                            Receive relevant Job Recommendations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Friendly Interface</h4>
                                        <p>Jagir Khulyo is providing simple and transparency UI with the great and
                                            amazing
                                            connection between client and founders.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Great support</h4>
                                        <p>we support you to find your dream job,Search freely</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
{#                <div class="row">#}
{#                    <div class="aboutus">#}
{#                        <h2 class="aboutus-title">Team Member</h2>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="offset-lg-1 col-lg-4" >#}
{#                        <div class="card border-0 shadow">#}
{#                            <img src="{% static 'img/rajan_team_member.jpg' %}" class="card-img-top" alt="..."#}
{#                                 height="250">#}
{#                            <div class="card-body text-center">#}
{#                                <h5 class="card-title mb-0"><u>Team Member</u></h5>#}
{#                                <div class="card-text text-black-50" style="font-size: larger;"><b><font color="maroon">Rajan#}
{#                                    Khayamali</font> </b></div>#}
{##}
{##}
{#                                <div class="card-text text-black-50">Django Developer</div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="offset-lg-2 col-lg-4">#}
{#                        <div class="card border-0 shadow">#}
{#                            <img src="{% static 'img/jakesh_team_member.jpg' %}" class="card-img-top" alt="..."#}
{#                                 height="250">#}
{#                            <div class="card-body text-center">#}
{#                                <h5 class="card-title mb-0"><u>Team Member</u></h5>#}
{#                                <div class="card-text text-black-50" style="font-size: larger;"><b><font color="maroon">Jakesh#}
{#                                    Bohaju</font></b></div>#}
{#                                <div class="card-text text-black-50">Frontend Developer</div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{##}
{#                </div>#}
            </div>
        </section>
    </div>




{% endblock %}