{% extends '_base.html' %}
{% load static %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

    <link href="{% static 'css/contact.css' %}" rel="stylesheet">


    <div class="jumbotron jumbotron-main" id="home">
        <div id="particles-js">
            <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
        </div><!-- /.particles div -->
        <div class="container center-vertically-holder">
            <div class="center-vertically">

                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center col_size">


                    <div class="scroll-indicator rotateBottomReveal" data-sr-id="40"
                         style="; visibility: visible;  -webkit-transform: translateY(0) scale(1) rotateX(0); opacity: 1;transform: translateY(0) scale(1) rotateX(0); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                        <span class="ion-mouse"></span><br>
                        <span class="ion-android-arrow-down arrow-scroll-indicator"></span>
                    </div>
                    <div style="margin-top: 10em;">
                        <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                        <address>
                            <strong> SunRose Tech Pvt Ltd </strong><br>
                            Bhaktapur, Province 03<br>
                            Nepal<br>
                            <abbr title="Phone">
                                P:</abbr>
                            01-6619326
                        </address>
                        <address>
                            <legend><span class="glyphicon glyphicon-globe"></span> Founders</legend>

                            <strong><b>Jakesh Bohaju</b></strong><br>
                            <a href="mailto:#">jakesh.bohaju@gmail.com</a><br>
                            <strong><b>Rajan Khayamali</b></strong><br>
                            <a href="mailto:#">krazzan.rk@gmail.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}