<form action="{% url 'home:search' %}" class="serach-form-area">

                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" name="title"
                                       placeholder="what are you looging for?" id="title">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <input type="text" class="form-control" name="location"
                                       placeholder="where are you looking for?" id="location">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <input type="text" class="form-control" name="category"
                                       placeholder="category?" id="category">
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="submit" class="btn btn-info">
                                    <span class="lnr lnr-magnifier"></span> Search
                                </button>
                            </div>
                        </div>
                    </form>