{% load thumbnail %}
<div class="single-slidebar">
    <h4>Jobs by Location</h4>
    <ul class="cat-list">
        {% for i in jbl %}



            <li><a class="justify-content-between d-flex" href="{% url 'home:by_location' i.district %}"><p>{{ i.district }}</p> <span>{{ i.count }}</span>
            </a></li>
        {% endfor %}


    </ul>
</div>

<div class="single-slidebar">
    <h4 style="color: #795fff">Popular job posts</h4>
    <div class="active-relatedjob-carusel">
        {% for t in top_rated %}
            <div class="single-rated">

                {% thumbnail t.company.company_image "250x150" crop="center" as im %}
                    <img  src="{{ im.url }}" >
                {% endthumbnail %}

                <a href="{% url 'home:jobdetail' t %}"><h3>{{ t.job_title }}</h3></a><br>
                <h5><em>{{ t.company.company_name }}</em></h5><hr>

                <h4 class="fa fa-group mb-2"> No of Vacancy:&nbsp;{{ t.vacancy }}</h4><br>
                <h4 class="fa fa-list-alt mb-2"> Category:&nbsp;{{ t.category }}</h4><br>
                <h4 class="fa fa-braille mb-2"> Experience:&nbsp;{{ t.experience }}</h4><br>

            </div>
        {% endfor %}

    </div>
</div>


