{% extends 'seeker dashboard/dashboard2.html' %}
{% block seeker-content %}


    <div class="container">
        <div class="row">
            <div class="offset-lg-3">

                <!-- inner page banner -->

                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h1 class="text-white">REGISTER YOUR DETAIL</h1>

                    </div>
                </div>

                <!-- inner page banner END -->

                <!-- Content -->
                <div class="page-content bg-white">
                    <!-- contact area -->
                    <div class="content-block">
                        <!-- Submit Resume -->
                        <div class="section-full bg-white submit-resume content-inner-2">
                            <div class="container">
                                <form method="post" enctype="multipart/form-data" id="jobseekerForm"
                                      data-job-url="{% url 'jobseeker:job_ajax_load_district' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Full name</label>
                                        <input type="text" class="form-control" placeholder="Your Full Name" name="name"
                                               id="name">
                                    </div>

                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" placeholder="1995-06-02" id="dob"
                                               name="dob">
                                    </div>


                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select name="gen">
                                            {% for g in genders %}
                                                <option>{{ g.gender }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                   <div class="form-group">

                                        <label>Province</label>
                                        {{ form.province }}
                                    </div>



                                    <div class="form-group">

                                        <label>District</label>
                                        {{ form.district }}
                                    </div>

                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="address" id="address"
                                               name="address">
                                    </div>


                                    <div class="form-group">
                                        <label>Phone-no</label>
                                        <input type="text" class="form-control" placeholder="*********" id="phone_no"
                                               name="phone_no">
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile-no</label>
                                        <input type="text" class="form-control" placeholder="9*********" id="mobile_no"
                                               name="mobile_no">
                                    </div>




                                    <div class="form-group">
                                        <label>Education</label>
                                        <select name="edu">
                                            {% for e in educations %}
                                                <option>{{ e.education }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>


                                    <div class="form-group">
                                        <label>Upload-CV</label>
                                        <div class="custom-file">
                                            <input type="file" class="site-button" id="resume" name="resume"
                                                   accept="application/pdf">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Your photo</label>
                                        <input type="file" class="form-control" placeholder=".jpg/png" id="photo"
                                               name="photo"
                                        >
                                    </div>
                                    <input type="submit" value="Submit" name="submit">

                                </form>
                            </div>
                        </div>
                        <!-- Submit Resume END -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_province").change(function () {
            var url = $("#jobseekerForm").attr("data-job-url");  // get the url of the `load_cities` view
            var provinceId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'province': provinceId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>


{% endblock %}
