{% extends 'seeker dashboard/dashboard2.html' %}
{% block seeker-content %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Projects <span class="table-project-n">Data</span> Table</h1>

                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">

                                <div class="table-responsive">
                                    <table class="table table-bordered" data-toggle="table" data-pagination="true"
                                           data-search="true"
                                           data-show-columns="true" data-show-pagination-switch="true"
                                           data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                           data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"
                                           data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                        <tr>
                                            <th>Job title</th>
                                            <th>Company name</th>
                                            <th>Position</th>
                                            <th>Category</th>
                                            <th>Applied Date</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in applybyuser %}
                                            <tr>

                                                <td>
                                                    <a href="{% url 'home:jobdetail' i.job_title.slug %}">{{ i.job_title.job_title }}</a>
                                                </td>
                                                <td>{{ i.job_title.company.company_name }}</td>
                                                <td>{{ i.job_title.level_of_job }}</td>
                                                <td>{{ i.job_title.category }}</td>
                                                <td>{{ i.applied_date }}</td>

                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
