<!doctype html>
{% load static %}
{% load thumbnail %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard v.1.0 | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/jobseeker_style.css' %}">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstraps.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- mCustomScrollbar CSS

    <!-- animate CSS

		============================================ -->
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- data-table CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/form/themesaller-forms.css' %}">
    <!-- normalize CSS


		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- responsive CSS

		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
</head>

<body class="materialdesign">
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Header top area start-->
<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="#">{% thumbnail seeker.photo "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" class="img-circle">
                {% endthumbnail %}
                </a>
                <h3>{{ request.user }}</h3>
                <p>Developer</p>
                <strong>AP+</strong>
            </div>
            <div class="left-custom-menu-adp-wrap">
                <ul class="nav navbar-nav left-sidebar-menu-pro">
                    <li class="nav-item">
                        <a href="{% url 'home:home' %}" aria-expanded="false"><i class="fa big-icon fa-home"></i> <span
                                class="mini-dn">Home</span> </a>

                    </li>
                    <li class="nav-item"><a href="


                            {% if request.user.id == seeker.user_id %}{% url 'jobseeker:supdate' seeker.slug %}{% else %}{% url 'jobseeker:seekerdetail' %} {% endif %}"
                                            aria-expanded="false"><i class="glyphicon glyphicon-user"></i><span
                            class="mini-dn">&nbsp My profile</span> </a>

                    </li>
                    <li class="nav-item"><a href="{% url 'jobseeker:table' %}" aria-expanded="false"><i
                            class="glyphicon glyphicon-list"></i><span
                            class="mini-dn">&nbsp Applied job list</span> </a>

                    </li>
                    <li class="nav-item"><a href="#" aria-expanded="false"><i class="glyphicon glyphicon-bell"></i><span
                            class="mini-dn">&nbsp Notification</span> </a>

                    </li>

                    <li class="nav-item"><a href="{% url 'jobseeker:password-change' %}" aria-expanded="false"><i
                            class="glyphicon glyphicon-key"></i><span
                            class="mini-dn">&nbsp Change Password</span> </a>

                    </li>

                    <li class="nav-item"><a href="{% url 'custom_auth:logout' %}" aria-expanded="false"><i
                            class="glyphicon glyphicon-log-out"></i><span class="mini-dn">&nbsp Logout</span> </a>

                    </li>


                </ul>
            </div>
        </nav>
    </div>
    <div class="content-inner-all">
        <div class="header-top-area">
            <div class="fixed-header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                            <button type="button" id="sidebarCollapse"
                                    class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="admin-logo logo-wrap-pro">
                                <a href="#"><img src="img/logo/log.png" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                            <div class="header-top-menu tabl-d-n">
                                <ul class="nav navbar-nav mai-top-nav">
                                    <li class="nav-item"><a href="#" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">About</a>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">Services</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Header top area end-->

        <div class="mobile-menu-area">

             {% block seeker-content %}{% endblock %}


        </div>
    </div>

    <!-- jquery
        ============================================ -->
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================not used -->


    <script src="{% static 'js/jobseekermain.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</body>

</html>