{% extends "seeker dashboard/dashboard2.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block seeker-content %}


    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:80vh;">
            <div class="col-auto border p-3">
                {% if form.errors %}
                    <p class="bg-danger p-2">Incorrect password</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}

                        <p class="bg-warning p-1">Your account doesn't have access.</p>
                    {% else %}
                        <p class="bg-secondary">Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <div class="col-lg-offset-3 col-lg-6 mt-10" style="margin-top: 75px;">

                    <form method="post" action="{% url 'jobseeker:password-change' %}" >
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input class="mt-3" type="submit" value="Change Password"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}