{% extends 'seeker dashboard/dashboard2.html' %}
{% load thumbnail %}
{% block seeker-content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6" style="text-align: center">
                <h1>WelCome</h1><hr>
                <h5>{{ seeker.name }}</h5>
            </div>

        </div>

    <br>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4" style="alignment: center">
                {% thumbnail seeker.photo "500x500" as im %}
                    <img src="{{ im.url }}" class="rounded">
                {% endthumbnail %}
            </div>
        </div>
    </div>
{% endblock %}