{% extends 'seeker dashboard/dashboard2.html' %}
{% block seeker-content %}
    <style>
        .jack {

            background: rgb(7, 0, 36);
            background: radial-gradient(circle, rgba(7, 0, 36, 1) 0%, rgba(7, 0, 36, 1) 36%, rgba(9, 9, 121, 1) 75%, rgba(0, 212, 255, 1) 100%);
        }

        .jack h1 {
            text-align: center;
            padding: 250px;
            color: #1e7e34;
        }


    </style>
    <div class="jack">
        <h1>Welcome {{ request.user }}<br>Hope you would find best job for you....</h1>

    </div>

{% endblock %}