{% extends 'seeker dashboard/dashboard2.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block seeker-content %}

    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-md-11 col-lg-7 mb-5">

            <form method="post" enctype="multipart/form-data" id="jobseekerupdateForm" data-updatejob-url="{% url 'jobseeker:job_ajax_load_district' %}">
                {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" value="UPDATE">

            </form>
        </div>

        <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">

                <h3 style= "text-align: center;">Your Profile</h3>

                {% thumbnail seeker.photo "350x300" crop="center" as im %}
                    <img src="{{ im.url }}" class="img-thumbnail">
                {% endthumbnail %}


            <div class="seeker-profile">

                <p>Name:{{ seeker.name }}</p>

                <p>DOB:{{ seeker.dob }}</p>

                <p>Phone no:{{ seeker.phone_no }}</p>


                <p>Email-ID{{ sekker.user.email }}</p>


            </div>
            </div>


        </div>
    </div>

    <style>
    .seeker-profile{

        padding-top: 30px;


    }
    .seeker-profile p{

        font-style: italic;
        text-align: center;
    }
    </style>



        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_province").change(function () {
      var url = $("#jobseekerupdateForm").attr("data-updatejob-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'province': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}