{% extends '_base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href={% static "css/demo.css" %}>
    <link rel="stylesheet" href={% static "css/light-bootstrap-dashboard.css" %}>

    <section class="blog-posts-area section-gap">

    <div class="wrapper">

        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Welcome
                    </a>
                </div>
                <ul class="nav">

                    <li>
                        <a class="nav-link"
                           href="{% if request.user.id == company_detail.user_id %} {% url 'company:cprofile' %} {% else %} {% url 'company:companydetail' %}

{% endif %}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>company profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"
                           href="{% if request.user.id == company_detail.user_id %} {% url 'company:jobpost' %} {% else %} {% url 'company:companydetail' %}

{% endif %}">

                            <i class="nc-icon nc-tap-01"></i>
                            <p>Post a job</p>
                        </a>
                    </li>


                    <li>
                        <a class="nav-link"
                           href="{% if request.user.id == company_detail.user_id %} {% url 'company:cjoblist' %}
                               {% else %}{% url 'company:companydetail' %} {% endif %}">
                            <i class="nc-icon nc-notes"></i>
                            <p>Posted Job List</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="
                                {% if request.user.id == company_detail.user_id %}{% url 'company:apply' %}
                                    {% else %}{% url 'company:companydetail' %} {% endif %}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Applied by user</p>
                        </a>
                    </li>
                    <li>


                        <a class="nav-link" href="./icons.html">
                            <i class="nc-icon nc-atom"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./maps.html">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'company:companynotify' %}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Notifications</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="{% url 'company:password_change' %}">
                            <i class="nc-icon nc-key-25"></i>
                            <p>Change Password</p>
                        </a>
                    </li>
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="upgrade.html">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">

            {% block company_dashboard %}
            {% endblock %}
        </div>
    </div>
    </section>

{% endblock %}