{% extends '_base.html' %}
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Job Title</th>
            <th>Resume</th>
        </tr>
        {% for a in j_list %}
            <tr>
                <td>{{ a.job_title }}</td>
                <td>{{ a.applicant_name.user }}</td>
                <td>{{ a.job_title }}</td>
                <td>{{ a.applicant_name.resume }}</td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}