{% extends '__company_base.html' %}
{% block company_dashboard %}

    <h1 style="text-align: center">JOB APPLIED</h1>



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">


                        {% for i in jlist %}
                            <div class="card-header ">
                                <h4 class="card-title"></h4>
                                <p class="card-category" style="font-size: 30px">{{ i.job_title }}</p>
                            </div>


                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped" style="">
                                    <thead>
                                    <th><h5>Name</h5></th>
                                    <th><h5>Address</h5></th>
                                    <th><h5>Email</h5></th>
                                    <th><h5>Phone No</h5></th>
                                    <th><h5>Resume</h5></th>
                                    <th><h5></h5></th>
                                    </thead>
                                    <tbody>
                                    {% for j in sss %}
                                        {% if i.id == j.job_title_id %}
                                            <tr>
                                                <td>{{ j.applicant_name.name }}</td>
                                                <td>{{ j.applicant_name.address }}</td>
                                                <td>{{ j.applicant_name.user.email }}</td>
                                                <td>{{ j.applicant_name.phone_no }}</td>
                                                <td>{{ j.applicant_name.resume }}</td>
                                           <td> <a href="{{ j.applicant_name.resume.url }}">Download Resume</a></td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}