{% extends '__company_base.html' %}
{% block company_dashboard %}






    <div class="offset-lg-2 col-lg-8">
        <h2 style="text-align: center; padding-top: 30px;">REGISTER YOUR COMPANY </h2>
        <div class="page-content bg-white">
            <!-- contact area -->
            <div class="content-block">
                <!-- Submit Resume -->
                <div class="section-full bg-white submit-resume content-inner-2">
                    <div class="container">
                        <form method="post" id="disForm" data-dis-url="{% url 'company:ajax_load_district' %}" enctype="multipart/form-data">
                            {% csrf_token %}


                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control" placeholder="Full company Name"
                                       id="company_name"
                                       name="company_name">
                            </div>

                            <div class="form-group">

                                <label>Province</label>
                                {{ form.province }}
                            </div>


                            <div class="form-group">

                                <label>District</label>
                                {{ form.district }}
                            </div>


                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" placeholder="Your Full address" id="company_address"
                               name="company_address">

                    </div>


                    <div class="form-group">
                        <label>Type of Company</label>
                        <input type="text" class="form-control" placeholder="Type of company" id="company_type"
                               name="company_type">
                    </div>


                    <div class="form-group">
                        <label>Phone-no</label>
                        <input type="text" class="form-control" placeholder="phone no with Area code" id="contact_no"
                               name="contact_no" pattern="[0-9]{9}" title="enter valid phone no">
                    </div>

                    <div class="form-group">
                        <label>Mobile-no</label>
                        <input type="text" class="form-control" placeholder="***-*****-****" id="mobile_no"
                               name="mobile_no" pattern="[9][0-9]{9}" title="enter valid mobile no">
                    </div>


                    <div class="form-group">
                        <label>Company photo</label>
                        <input type="file" class="form-control" placeholder=".jpg/png" id="company_image"
                               name="company_image"
                               accept="image/jpeg">
                    </div>

                    <div class="form-group">
                        <label>Registration date</label>
                        <input type="date" class="form-control" placeholder="***-*****-****" id="company_registration"
                               name="company_registration">
                    </div>


                    <input type="submit" value="Submit" name="submit">
                    </form>
                </div>
            </div>
            <!-- Submit Resume END -->
        </div>
    </div>
    </div>

    <!-- Content END-->

     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_province").change(function () {
      var url = $("#disForm").attr("data-dis-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'province': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}
