{% extends '__company_base.html' %}
{% load crispy_forms_tags %}
{% block company_dashboard %}

    <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">


                    <form method="post" enctype="multipart/form-data" id="upForm" data-dis-url="{% url 'company:ajax_load_district' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" value="UPDATE">

                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">Contact Info</h3>
                        <p class="mb-0 font-weight-bold">Address</p>
                        <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#">youremail@domain.com</a></p>

                    </div>


                </div>
            </div>


     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_province").change(function () {
      var url = $("#upForm").attr("data-dis-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'province': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}