{% extends '__company_base.html' %}
{% load static %}
{% block company_dashboard %}


    <link rel="stylesheet" href="{% static 'css/company.css' %}">


    <div class="container emp-profile">
        <form method="post">
            <div class="row">


                <div class="col-md-6">
                    <div class="profile-head">
                        <h2>
                            {{ cdetail.company_name }}
                        </h2>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">About Company</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ request.user }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Company Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ cdetail.company_name }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ cdetail.company_address }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Contact-no</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ cdetail.contact_no }}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <label>Company Type</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ cdetail.company_type }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Company email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ request.user.email }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <a href="{% url 'company:cupdate' cdetail.slug %}" style="font-size: 15px">Edit company Profile</a>
            </div>
        </form>
    </div>



{% endblock %}


