{% extends '__company_base.html' %}

{% block company_dashboard %}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">


                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th><h4>Job-Title</h4></th>
                                <th><h4>Job_level</h4></th>
                                <th><h4>Published-date</h4></th>
                                <th><h4></h4></th>

                                </thead>
                                <tbody>
                                {% for j in c_joblist %}

                                    <tr>
                                        <td>{{ j.job_title }}</td>
                                        <td>{{ j.level_of_job}}</td>
                                        <td>{{ j.pub_date }}</td>
                                        <td>

                                            <a href="{% url 'company:jobupdate' j %}"><input value="update"
                                                                                             type="submit"></a>

                                        </td>
                                        <td>

                                            <input value="Delete"
                                                   type="submit" style="color: red" data-toggle="modal"
                                                   data-target="#myModal">


                                        </td>

                                    </tr>


                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h4 class="modal-title" style="alignment: left">
                                                        Delete {{ j.job_title }}</h4>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        &times;
                                                    </button>

                                                </div>
                                                <div class="modal-body">


                                                    <p>Are you sure you want to delete "{{ j.job_title }}"?</p>

                                                    <div class="modal-del-fo">
                                                        <form method="post"
                                                              action="{% url 'company:jobdelete' j %}">
                                                            {% csrf_token %}
                                                            <input type="submit" class="btn btn-danger"
                                                                   value="Yes">
                                                        </form>
                                                        <input type="submit" class="btn btn-default"
                                                               data-dismiss="modal"
                                                               value="No">

                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                    <!-- End popup modal -->


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}