{% extends '__company_base.html' %}
{% block company_dashboard %}
    <style>
        .jack {

        {#background-color: green;#} background: rgb(7, 0, 36);
            background: radial-gradient(circle, rgba(7, 0, 36, 1) 43%, rgba(9, 9, 121, 1) 45%, rgba(7, 0, 36, 1) 61%, rgba(0, 212, 255, 1) 84%);
        }

        .jack h1 {
            text-align: center;
            padding: 250px;
            color: #1e7e34;
        }


    </style>
    <div class="jack">
        <h1>Welcome {{ request.user }}</h1>
    </div>

{% endblock %}