{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}


    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Job Details
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="single.html"> Job Details</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <form method="post">{% csrf_token %}
{#        <p>Are you sure you want to delete "{{ object }}"?</p>#}
        <button onclick="myFunction()" value="Confirm">delete</button>
    </form>

    <script>
        function myFunction() {
            var txt;
            if (confirm("Do you want to delete!")) {
                //go to your delete path
            } else {
                //don't do anything
            }

        }
    </script>

{% endblock %}