{% extends '__company_base.html' %}
{% block company_dashboard %}



    <!-- End banner Area -->



    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->



    <div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">


                    <form method="POST" action="#" class="p-5 bg-white">
                        {% csrf_token %}

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Job Title</label>
                                <input type="text" id="job_title" class="form-control"
                                       placeholder="eg. Full Stack Frontend" name="job_title">
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Category</label>
                                <select name="cate">
                                    {% for cat in categories %}
                                        <option>{{ cat.category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">JOB Level</label>
                                <select name="level">
                                    {% for l in levels %}
                                        <option>
                                            {{ l.job_level }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">No of vacancy</label>
                                <input type="number" id="vacancy" class="form-control"
                                       placeholder="eg.2" name="vacancy">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Experience</label>
                                <input type="text" id="experience" class="form-control"
                                       placeholder="2 year" name="experience">
                            </div>
                        </div>


                        <div class="row form-group mb-4 p-2">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Education</label>
                                <select name="ed">
                                    {% for e in edu %}
                                        <option>
                                            {{ e.education }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <label class="font-weight-bold fa-1.5x" for="fullname">Salary</label>
                        <div class="container mb-4" style="border-style: ridge;">

                            <div class="row form-group pt-3">
                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <label class="font-weight-bold" for="fullname">In Amount</label>
                                        <input type="number" id="salary" class="form-control"
                                               placeholder="$3000000" name="salary">
                                    </div>

                                </div>




                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <label class="font-weight-bold" for="fullname">Negotiable</label>
                                        <input type="checkbox" id="negotiable" class="form-control"
                                               name="negotiable" style="width: 20px">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Jobtype</label>
                                <select name="jtype">
                                    {% for j in jobtypes %}
                                        <option>
                                            {{ j.job_type }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12"><label class="font-weight-bold" for="fullname">Job
                                Description</label></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea name="description" class="form-control" id="description" cols="30"
                                          rows="5"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><label class="font-weight-bold" for="fullname">Job
                                Requirements</label></div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea name="requirement" class="form-control" id="requirement" cols="30"
                                          rows="5"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Deadline</label>
                                <small><br>Deadline must not be more than 15 days !!!</small>
                                <input type="date" id="deadline" class="form-control"
                                       placeholder="2 june" name="deadline">
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Post" class="btn btn-primary  py-2 px-5">
                            </div>
                        </div>


                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">Contact Info</h3>
                        <p class="mb-0 font-weight-bold">Address</p>
                        <p class="mb-4">{{ com.company_address }}</p>

                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">{{ com.contact_no }}</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#">{{ com.user.email }}</a></p>

                    </div>


                </div>
            </div>
        </div>
    </div>






{% endblock %}
   


