{% extends '__company_base.html' %}
{% block company_dashboard %}




    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <h3>Notification</h3>

                        {% for i in jlist %}




                            {% for j in sss %}
                                {% if i.id == j.job_title_id %}
                                    <div class="row">
                                    <div class="col-lg-6">

                                        {% if j.status == False %}

                                            <form method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-outline-light text-dark btn-block">
                                                    <a href="{% url 'company:companynotify' %}">{{ j.applicant_name.name }}
                                                        applied for {{ j.job_title.job_title }}</a>
                                                </button>
                                            <input type="hidden" name="hiddenid" value="{{ j.job_title.id }}">
                                            </form>

                                        {% endif %}
                                    </div>




                                {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}