{% extends "__company_base.html" %}
{% load crispy_forms_tags %}
{% block company_dashboard %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:80vh;">
            <div class="col-auto border p-3">
                {% if form.errors %}
                    <p class="bg-danger p-2">Incorrect password</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}

                        <p class="bg-warning p-1">Your account doesn't have access.</p>
                    {% else %}
                        <p class="bg-secondary">Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'company:password_change' %}">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <input class="mt-3" type="submit" value="Change Password"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}