
/*body{margin-top:20px;}*/

/* =Jumbotron Main
-------------------------------------------------------------- */
.jumbotron.jumbotron-main {
    height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
    margin: -32px;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background: #1d150b; /* Old browsers */
	background: -moz-linear-gradient(left, #2a1119 0%, #5d051c 35%, #6e7825 68%, #6980f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #3c4a61 0%, #380825 35%, #a82d1a 68%, #700f12 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #360c18 0%, #fd0a17 35%, #1a470b 68%, #33090c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}

.jumbotron.jumbotron-main hr {
	border-width: 1px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 49px;
    height: 4px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #fff;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.center-vertically-holder {
	display: table;
	height: 100%;
}

.scroll-indicator {
	padding-top:6px;
    display: inline-block;
    width: 50px;
}

.arrow-scroll-indicator {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}

.col_size{
    width: 25%;
}

