{% extends '_base.html' %}
{% block content %}

    <section class="blog-posts-area section-gap">
        <div class="container">
            <h1 style="text-align: center;">Login User</h1>
            <hr>

            <div style="width: 400px; height: 400px; margin-top: 50px; margin-left: 30%">
                <form method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="form-group">
                        <label for="exampleInputEmail1">username</label>
                        <input type="text" class="form-control" name="username"
                               placeholder="Enter email-id">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Sign in</button>

                </form>
                <div style="text-align: center; padding-top: 25px; font-size: medium">

                    <a href="{% url 'custom_auth:password_reset' %}">Forgot password?</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}