{% extends '_base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}

    <section class=" section-gap">
        <div class="row">
            <aside class="col-sm-4">
            </aside> <!-- col.// -->
            <aside class="col-sm-4">
                <h2>Change Password</h2>
                <div class="card">
                    {% if validlink %}
                        <article class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button type="submit">Submit</button>
                            </form>
                        </article>
                    {% else %}
                        <article class="card-body">
                            <p>
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                        </article>
                    {% endif %}
                </div>
            </aside>
            <aside class="col-sm-4">
            </aside> <!-- col.// -->
        </div>
    </section>
{% endblock %}