{% extends '_base.html' %}
{% block content %}
    <section class="blog-posts-area section-gap">
        <div class="container" >
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <h1>Register User</h1>
                    <hr/>
                    {{ form.errors }}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row" >
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Username</label>
                                <input type="text" name="username" class="form-control">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Password">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" name="password" class="form-control" id="Password1"
                                       placeholder="Password">
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputCity">Role</label>
                            <select name="role" class="form-control">
                                <option value="company">Company</option>
                                <option value="jobseeker">Job Seeker</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}